Debug/
Release/
x64/
x86/
build/
out/

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.tmp
*.cache

*.obj
*.o
*.pdb
*.idb
*.ilk
*.exe

output/
*.png
*.jpg
*.jpeg

!images/
!images/*.png

.DS_Store