# Visual Studio
.vs/
*.vcxproj.user
*.suo

# Build folders
Debug/
Release/
x64/
x86/
build/
cmake-build-*/

# Compiled files
*.obj
*.o
*.exe
*.dll
*.pdb
*.lib

# Cache
*.log

# OS
.DS_Store
Thumbs.db

# Output images
*.ppm
*.png